Edit

<% if @sighting.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @sighting.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
  </ul>
<% end %>

<%= render 'form' %>
